<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
  </configSections>
  <connectionStrings>
    <add name="AdventureWorksEntities" connectionString="metadata=res://*/Data.EntityFramework.AdventureWorks.csdl|res://*/Data.EntityFramework.AdventureWorks.ssdl|res://*/Data.EntityFramework.AdventureWorks.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\sqlexpress;initial catalog=AdventureWorks;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="Ignorance.Testing.Properties.Settings.AdventureWorksConnectionString"
      connectionString="Data Source=.\sqlexpress;Initial Catalog=AdventureWorks;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <alias alias="string" type="System.String, mscorlib" />
    <alias alias="IWork" type="Ignorance.IWork, Ignorance" />
    <alias alias="IStore" type="Ignorance.IStore`1, Ignorance" />
    <alias alias="EntityFrameworkWork" type="Ignorance.EntityFramework.Work, Ignorance.EntityFramework" />
    <alias alias="EntityFrameworkStore" type="Ignorance.EntityFramework.Store`1, Ignorance.EntityFramework" />
    <alias alias="LinqToSqlWork" type="Ignorance.LinqToSql.Work, Ignorance.LinqToSql" />
    <alias alias="LinqToSqlStore" type="Ignorance.LinqToSql.Store`1, Ignorance.LinqToSql" />
    <alias alias="IsolatedStorageWork" type="Ignorance.IsolatedStorage.Work, Ignorance.IsolatedStorage" />
    <alias alias="IsolatedStorageStore" type="Ignorance.IsolatedStorage.Store`1, Ignorance.IsolatedStorage" />
    <alias alias="AdventureWorksEntities" type="Ignorance.Testing.Data.EntityFramework.AdventureWorksEntities, Ignorance.Testing" />
    <alias alias="DbContext" type="System.Data.Entity.DbContext, EntityFramework" />
    <container>
      <register type="IWork" mapTo="EntityFrameworkWork">
        <constructor>
          <param name="context" dependencyType="AdventureWorksEntities" type="DbContext" />
        </constructor>
      </register>
      <register type="IStore" mapTo="EntityFrameworkStore" />
    </container>
  </unity>
</configuration>